<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/account.css">
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <section class="main-section">
        <%- include('../includes/sidebar.ejs') %>
        <div class="main-container">
            <div class="form-container">
                <form action="/account/add-product" method="post" enctype="multipart/form-data">
                    <input type="text" name="title" placeholder="Title">
                    <input type="number" name="price" placeholder="Price">
                    <input type="file" name="image" placeholder="Image URL">
                    <textarea name="description" placeholder="Description" cols="30" rows="10"></textarea>
                    <button class="btn">Create Product</button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <% if (errorMessage) { %>
                    <p class="error-msg"><%= errorMessage %></p>
                    <br>
                    <% } %>
                </form>
            </div>
        </div>
    </section>
    <script src="/script.js"></script>
</body>

</html>