<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/shop.css">
<title>Shop</title>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <section class="main-section">
        <div class="products-container">
            <% for (let product of products) { %>
            <div class="product">
                <img src="<%= product.imgUrl %>" alt="">
                <div class="product-desription">
                    <div>
                        <h5><%= product.title %></h5>
                        <h4>$<%= product.price %></h4>
                    </div>
                    <form action="/add-to-cart/<%= product._id %>" method="post">
                        <button type="submit">Add To Cart</button>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
    </section>
    <script src="/nav-script.js"></script>
</body>

</html>